<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <title>Discord Server Counter and List</title>
        <meta
            name="description"
            content="Simple project to count the total discord server of an users and list them"
        />
        <meta name="author" content="Romans" />
        <style>
            body {
                overflow: hidden;
                position: absolute;
                display: flex;
                height: 100%;
                width: 100%;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                gap: 10px 20px;
                justify-content: center;
            }
            .container a {
                display: flex;
                order: 5;
                justify-content: center;
                background-color: rgb(33, 53, 125);
                padding: 0 20px;
                line-height: 35px;
                /* color: #fff; */
                font-family: "Helvetica", "Arial", sans-sefir;
                font-size: 20px;
                text-decoration: none;
                border-radius: 3px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <a href="/api/discord/login">Login through discord</a>
        </div>
    </body>
</html>
