<!DOCTYPE ejs>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="author" content="Romans" />
        <style>
            html,
            body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .container {
                display: flex;
                order: 1;
                height: 100vh;
                flex-flow: column;
                flex-wrap: nowrap;
                align-items: stretch; /* vertically */
            }
            .msgs {
                overflow: hidden;
                display: flex;
                order: 2;
                height: 15vh;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
            .verticalList {
                display: flex;
                order: 3;
                height: 80vh;
                overflow-y: auto;
                /* justify-content: space-between;
                align-content: space-between; */
            }
            table {
               flex: 2;
               order: 4;
            }
            td {
                /* border: 1px dotted; */
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="msgs">
                <p class="loggedMsg"><%= loggedMsg %></p>
                <p class="serverCounter"><%= serverCounter %></p>
            </div>
            <div class="verticalList">
                <table>
                    <% if (guildsList) { %> <% for (var [key, value] of
                    guildsList.entries()) { %>
                    <tr>
                        <td><%= (key+1) %></td>
                        <td><%= value.name %></td>
                    </tr>
                    <% } %> <% } %>
                </table>
            </div>
        </div>
    </body>
</html>
